data/clotho_v2.1
data/audioCaps/audios
data/audioCaps/audiofolder/
data/audioset_full/audios
data/audioset_small/audiofolder/
/checkpoints/
**/*.egg-info/
**/__pycache__/
**/.ipynb_checkpoints/
/wandb/
/notebooks/wandb/
/notebooks/checkpoints/
/checkpoints
/venv
logs/
