/data/**
/checkpoints/
**/*.egg-info/
**/__pycache__/
**/.ipynb_checkpoints/
/wandb/
/notebooks/wandb/
/notebooks/checkpoints/
/checkpoints
/venv
!/data/audioCaps/csvs/debug.csv
!/data/audioCaps/csvs/train.csv
!/data/audioCaps/csvs/test.csv
!/data/audioCaps/csvs/valid.csv
